# .gitignore
# Keep these files out of the CircuitPython repo:

**.swp
**~

/boot_out.txt
/.Trash*
/.fseventsd/
/.metadata_never_index
/System Volume Information/
/$RECYCLE.BIN/
/sd/

GITREPO.txt
secrets*
*.log

__pycache__/
HIDE/
PRINT/

# eof
